.resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  padding: 1rem;
  text-align: left;
  margin: 1rem 1rem;

  font-size: clamp(0.5rem, 0.5rem + 1vw, 1rem);
}

.resultContainer div {
  margin: 0.5rem 1rem;
}

.profit {
  color: green;
}

.loss {
  color: red;
}
