.trackerList {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tableHead {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  font-size: clamp(0.8rem, 0.2rem + 1vw, 1.1rem);
  justify-content: start;
  align-items: center;
  column-gap: 30px;
  text-align: center;
  justify-content: center;
  border-bottom: 1px black solid;
  padding-bottom: 10px;
}

.tableBody {
  overflow-y: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.tableRow {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 30px;
  font-size: clamp(0.8rem, 0.2rem + 1vw, 1.1rem);
  justify-content: start;
  align-items: center;
  text-align: center;
}

.statusSelect {
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  font-style: italic;
  background-color: inherit;
  color: inherit;
  background: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

.statusSelect option {
  color: black;
}

.itemRemove {
  border: none;
}
.itemChange {
  border: none;
}

.emptyList {
  padding: 1rem;
  font-size: clamp(1rem, 0.5rem + 2vw, 1.5rem);
}

.addBtn {
  margin-top: 1rem;
  font-weight: 900;
  position: relative;
  left: 12%;
  box-sizing: border-box;
  height: 3rem;
  width: 8rem;
  font-family: inherit;
  font-size: clamp(0.8rem, 0.5rem + 1vw, 1.2rem);
  cursor: pointer;
  z-index: 1;
}

.btnDark {
  background-color: white;
  color: black;
  transition: all 1s;
  border: none;
}

.btnDark:hover {
  box-shadow: 0px 0px 0 0.1rem rgb(255, 255, 255);
  transition: 0.3s;
}

.btnLight {
  background-color: black;
  color: white;
  transition: all 1s;
  border: none;
}

.btnLight:hover {
  box-shadow: 0px 0px 0 0.1rem rgb(0, 0, 0);
  transition: 0.3s;
}
.addLogControls {
  margin-top: 0.5rem;
}
