.trackerList {
  /* height: 70%; */
  /* max-height: 70%; */
  /* width: 80%; */
  overflow-y: auto;
  max-height: 600px;
  border: 1px solid yellow;
}

.table {
  font-size: 30px;

  /* width: 100%; */
  margin-left: 5%;
  text-align: center;

  border: 1px solid white;
}

.table-light {
  font-size: 30px;

  /* width: 100%; */
  margin-left: 5%;
  text-align: center;

  border: 1px solid black;
}

td,
th,
tr,
thead,
tbody {
  border: inherit;
}

table th {
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: black;
}
