.trackerList {
  width: 100%;
  overflow-y: auto;
  max-height: 800px;
}

table {
  width: 80%;
  font-size: 2rem;
  margin: 1rem 4rem;
}

table td,
th {
  padding: 0.2rem;
}

.table-dark {
  text-align: center;
}
.table-light {
  text-align: center;
}

.table-light th {
  background-color: white;
  border-collapse: collapse;
}
.table-dark th {
  background-color: black;
  border-collapse: collapse;
}

.table-light tr,
th {
  border: 0.1rem solid black;
}

.table-dark tr,
th {
  border: 0.1rem solid white;
}

table th {
  position: sticky;
  top: 0;
  z-index: 2;
}

.addBtn {
}
.statusSelect {
  font-size: 30px;
  text-align: center;
  font-style: italic;
  background-color: inherit;
  color: inherit;
  background: inherit;
  background-color: transparent;
  border: none;
}

.statusSelect option {
  color: black;
}

.itemRemove {
  border: none;
}
.itemChange {
  border: none;
}

table tr td:last-child {
  border: none;
}
