.global-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: white;

  text-align: center;
  min-width: 10rem;
}

.global-item-text {
  margin: 0.1rem;
  text-align: center;
}
.global-item-price {
  margin: 0.1rem;
  font-size: clamp(0.5rem, 0.5rem + 1vw, 0.9rem);
}

.profit {
  color: green;
}

.loss {
  color: red;
}

.shortNameText {
  font-size: clamp(0.5rem, 0.5rem + 1vw, 1.3rem);
  margin: 0.1rem;
}

.fullNameText {
  font-size: clamp(0.4rem, 0.5rem + 1vw, 0.9rem);
  font-style: italic;
}

.dailyChangeText {
  margin: 0.2rem;
  font-size: clamp(0.5rem, 0.5rem + 1vw, 0.9rem);
}
