.newLogContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addFormSelectContainer {
}

.addFormSelect {
  padding: 0.2rem;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  font-size: 1.3rem;
  margin: 0.5rem;
}
.addFormSelect option {
  color: inherit;
  background-color: black;
  font-family: inherit;
  font-size: 1.3rem;
  margin: 0.5rem;
}

.addFormSelect :focus-visible {
  outline: none;
}

.addFormInputs input {
  background-color: inherit;
  color: inherit;
  border: 1px solid white;
  height: 2.1rem;
  font-size: 1.3rem;
  font-family: inherit;
  padding: 0.2rem;
  outline: none;
  margin: 0.5rem;
}

.addFormControls {
  display: flex;
  justify-content: center;
}

.addFormControls button {
  box-sizing: border-box;
  height: 2.1rem;
  width: 5rem;
  font-family: inherit;
  font-size: 1.3rem;
  margin: 0.5rem;
  color: black;
  background-color: white;
}
