.sidebarContainer {
  width: 250px;
  height: 100%;
  background: grey;
  position: absolute;
  z-index: 800;
  left: -200px;
  transition: transform 0.7s;
  padding: 10px;
}

.iconContainer {
  opacity: 1;
  display: flex;
  justify-content: flex-end;
  transition: opacity 0.5s;
}

.sidebarContainer:hover {
  transform: translateX(150px);
}

.sidebarContainer:hover .sidebarLinks {
  opacity: 1;
  transition: opacity 1s;
}
.sidebarContainer:hover .iconContainer {
  opacity: 0;
  transition: opacity 0.5s;
}

.sidebarContainer:hover svg {
  opacity: 1;

  transition: opacity 1s;
}

.sidebarLinks {
  list-style: none;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  opacity: 0;
  transition: all 0.5s;
}

.sidebarLinks li {
  cursor: pointer;
  margin-top: 10px;
  font-size: clamp(0.8rem, 0.5rem + 1vw, 1.2rem);
}

.activeLink {
  color: blue;
}
