.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

.layout-dark {
  color: white;
  background-color: black;
  transition: all 1s;
}

.layout-light {
  color: black;
  background-color: white;
  transition: all 1s;
}

.main {
  display: flex;
  flex: 1;
}

.main > .tracker {
  flex: 1;
}

.main > .list,
.main > .aside {
  flex: 0 0 10vw;
}
.main > .nav {
  order: -1;
}

.header,
.footer,
.tracker,
.list,
.aside {
  padding: 1em;
}
