.topRowWrapper {
  display: flex;
  flex-direction: row;
}

.globalListContainer {
  width: 75%;
  margin: 5px;
  padding: 5px;
  border: 2px solid red;
}

.resultListContainer {
  width: 25%;
  margin: 5px;
  padding: 5px;
  border: 2px solid green;
}

@media only screen and (max-width: 600px) {
  .topRowWrapper {
    flex-direction: column;
  }
  .globalListContainer {
    width: 100%;
  }

  .resultListContainer {
    width: 100%;
  }
}
