@import url('https://fonts.googleapis.com/css2?family=Coustard&family=IBM+Plex+Mono&display=swap');

html,
body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
}
