.header {
  margin: 0 1rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerTitle {
  margin-left: 2rem;
}
.headerTitle h1 {
  font-size: clamp(1rem, 0.5rem + 4vh, 3rem);
}

.headerActions {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 20%;
}

.headerActions button {
  font-weight: 900;
  box-sizing: border-box;
  height: 3rem;
  width: 12rem;
  font-family: inherit;
  font-size: clamp(0.8rem, 0.5rem + 1vw, 1.2rem);
  border: none;
}

.btn {
  transition: all 0.8s;
  cursor: pointer;
}

.btnDark:hover {
  box-shadow: 0px 0px 0 0.1rem rgb(255, 255, 255);
  transition: 0.3s;
}

.btnLight:hover {
  box-shadow: 0px 0px 0 0.1rem rgb(0, 0, 0);
  transition: 0.3s;
}

.btnDark {
  background-color: white;
  color: black;
}

.btnLight {
  background-color: black;
  color: white;
}
