.header {
  margin: 0 1rem 0rem;
  display: flex;
  flex-direction: row;
}

.headerTitle {
  width: 80%;
}
.headerTitle h1 {
  font-size: 3rem;
}

.headerActions {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 20%;
}

.headerActions button {
  box-sizing: border-box;
  height: 3rem;
  width: 10rem;
  font-family: inherit;
  font-size: inherit;
}

.btnDark {
  background-color: white;
  color: black;
  transition: all 0.8s;
}
.btnLight {
  background-color: black;
  color: white;
  transition: all 0.8s;
}
