.header {
  padding: 20px 5%;
  height: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}

.theme-button {
  grid-column: 8/8;
  grid-row: 1;
  height: 4rem;
  width: 4rem;
}

h1 {
  grid-column: 1/8;
  grid-row: 1;
}
